body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
     
    padding-bottom: 0;
    background-color: #FF642B;
    color: white;
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
        
}


.logo {
    font-size: 20px;
    margin-bottom: 40px;        
}


nav ul {
    list-style-type: none;
    padding: 1px;
    display: flex;               
    justify-content: center;    
}

nav ul li {
    margin: 0 60px;             
}

nav ul li:last-child {
    margin-right: 10px;          
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;            
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;           
}


.input {
    width: 750px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
    

.shopping-cart-icon {
    position: absolute; 
    top: 20px;          
    right: 20px;        
    font-size: 20px;    
    cursor: pointer;    










